body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #caf0f8;
  background-image: linear-gradient(
    -45deg,
    #03045e,
    #032174,
    #023e8a,
    #0077b6,
    #00b4d8,
    #90e0ef,
    #caf0f8
  );
}
